@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Kanit:wght@900&display=swap');
* {
  box-sizing: content-box;
  /* font-family: 'Inconsolata', monospace; */
}
body {
  overflow: hidden;
  margin: 0px;
  display: flex;
  flex-direction: row;
  position: relative;
  perspective: 500;
}
:root {
  --bg-button: linear-gradient(
    135deg,
    hsla(40, 35%, 63%, 0.8),
    hsla(40, 35%, 43%, 0.8)
  );
  --bg-button-rev: hsla(40, 35%, 23%, 0.9);
}
.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  height: 50px;
  width: 100%;
  padding: 2px 10px;
}
.logo {
  height: inherit;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
}
.logo img {
  height: 30px;
  width: 30px;
  background: linear-gradient(
    135deg,
    hsl(43, 74%, 49%) 60%,
    hsl(43, 74%, 100%) 62%,
    hsl(43, 74%, 49%) 65%
  );
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 50%;
  transform: rotateX(20deg);
}
.logo .title {
  position: relative;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: goldenrod;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(0, 0, 0, 0.25);
}

canvas {
  z-index: 1;
}
.panel {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 3;
  background: var(--bg-panel);
  /* box-shadow: var(--panel-box-shadow);   */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

/**Panel */
.dock {
  display: flex;
  flex-direction: column;
  z-index: 3;
  /* gap: 10px; */
  /* padding: 20px; */
  border-radius: 20px 0 0 20px;
}

.buttonAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: none;
  /* border-radius: 10px; */
  /* box-shadow: 0px 1px 3px teal; */
  gap: 5px;
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
  background: var(--bg-button);
  /* box-shadow: var(--btn-box-shadow); */
  height: 40px;
  width: 40px;
}
.buttonAdd img {
  height: 20px;
  width: 20px;
}
.buttonAdd:active,
.buttonAdd:hover {
  /* transform: scale(0.98); */
  background: var(--bg-button-rev);
}

.materialPanel {
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: 100px;
  left: 50%;
  z-index: 3;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  animation: dialogue-appear 0.6s ease-in-out;
}
.dialog {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  height: fit-content;
  width: fit-content;
  overflow-x: scroll;
  gap: 2px;
}
@keyframes dialogue-appear {
  0% {
    left: -600px;
    z-index: -1;
  }
  90% {
    z-index: -1;
    left: 20px;
  }
  100% {
    left: 0px;
    z-index: 3;
  }
}
.set {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 2px;
}
.set .colorItem {
  height: 50px;
  width: 50px;
}
.set .textureItem {
  height: 50px;
  width: 50px;
}
.set .colorItem.selected,
.set .textureItem.selected {
  transform: scale(1.01);
  box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.3),
    0px -2px 2px 2px rgba(100, 255, 255, 0.3);
}
.actionBtns {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 2px 0px;
}
.actionBtns .action {
  color: white;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 25px;
  cursor: pointer;
}
.actionBtns .action img {
  height: 16px;
  width: 16px;
}
.actionBtns #confirm {
  background: linear-gradient(
    135deg,
    hsl(120, 100%, 35%) 70%,
    hsl(120, 73%, 75%)
  );
  --rev-color: linear-gradient(
    45deg,
    hsl(120, 100%, 35%) 70%,
    hsl(120, 73%, 75%)
  );
}
.actionBtns #cancel {
  background: linear-gradient(135deg, darkred 70%, red);
  --rev-color: linear-gradient(45deg, darkred 70%, red);
}
.actionBtns .action:active,
.actionBtns .action:hover {
  transform: scale(0.98);
  background: var(--rev-color);
}

/**Mouse click circles */
.controlArray {
  position: absolute;
  --len: 100px;
  height: var(--len);
  width: var(--len);
  --border-control: 4px green double;
  --border-control-radius: 50%;
  border: var(--border-control);
  transform: translate(-50%, -50%);
  border-radius: var(--border-control-radius);
  z-index: 3;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.3);
  animation: animate-border 0.6s ease-in-out infinite,
    animate-border2 4.2s linear;
}
@keyframes animate-border {
  0% {
    --border-control: 4px green inset;
  }

  100% {
    --border-control: 4px green outset;
  }
}
@keyframes animate-border2 {
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.controlArrayButtons {
  position: relative;
  height: inherit;
  width: inherit;
}
.controlButton {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border: none;
  font-size: 14px;
  color: white;
  background: linear-gradient(135deg, darkgreen, green);
  border-radius: 30px 10px;
  cursor: pointer;
}

.controlButton:hover,
.controlButton:active {
  background: linear-gradient(-45deg, darkgreen, green);
  transform: translate(-50%, -50%) scale(1.1);
}
